body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.phones-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 100px;
}

.cart-item-count {
    display: inline-block;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-left: 5px;
}

.input-search {
    font-size: 16px;
    margin-top: 60px;
    width: 99%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

.container {
    padding: 20px;
}

.phone-card {
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    box-sizing: border-box;
}

.phone-card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 30px;
}

.phone-brand {
    color: gray;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: -10px;
}

.phone-name {
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    text-align: left;
}

.phone-price {
    color: black;
}

.phone-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-container {
    position: relative;
    width: 100%;
}

.clear-search {
    position: absolute;
    top: 85%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 12px;
    color: #000;
    cursor: pointer;
    outline: none;
}

.clear-search:hover {
    color: #888;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: none;
    color: #fff;
}

.navbar-logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.phone-image {
    align-items: flex-start;
    width: 550px;
    height: 600px;
    object-fit: contain;
}

.details-specifications-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.phone-info-details {
    display: inline-block;
    margin-bottom: 20px;
}

.storage-options {
    display: flex;
}

.storage-options p {
    border: 1px solid #000;
    padding: 20px;
    cursor: pointer;
}

.add-button {
    width: 100%;
    background-color: #7c7c7c;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.add-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.add-button:hover:not(.disabled) {
    background-color: #050505;
}

.color-options {
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
}

.color-box {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #ccc;
    transition: transform 0.2s ease, border 0.2s ease;
}

.color-box:hover {
    transform: scale(1.2);
}

.storage-option.selected,
.color-box.selected {
    border: 2px solid #000;
}

.specifications,
.similar-items-container {
    width: 70%;
    text-align: center;
    margin-top: 100px;
}

.specifications p,
.similar-item-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.specifications-line {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 20px;
}

.specifications-table {
    width: 100%;
    border-collapse: collapse;
}

.specifications-table td {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.specifications-table td:first-child {
    text-align: left;
    width: 30%;
}

.specifications-table td:last-child {
    text-align: left;
    width: 70%;
}

.similar-items-list {
    display: flex;
    overflow-x: auto;
}

.similar-item {
    display: inline-block;
    width: 250px;
    border: 1px solid #000;
    padding: 5px;
}

.similar-item-image {
    width: 225px;
    height: 225px;
    object-fit: contain;
}

.similar-item-container {
    display: flex;
    justify-content: space-between;
}

.similar-item-brand {
    font-size: 9px;
    margin-bottom: -8px;
    text-align: left;
    color: #777;
    text-transform: uppercase;
}

.similar-item-container {
    font-size: 10px;
    text-transform: uppercase;
}

.back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.back-arrow {
    font-size: 20px;
    margin-right: 12px;
    padding-left: 10px;
}

.back-text {
    text-transform: uppercase;
    font-size: 16px;
}

.cart-container {
    padding: 20px;
}

.cart-items {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.cart-item-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.cart-item-name {
    font-size: 18px;
    text-transform: uppercase;
}

.cart-item-storage,
.cart-item-color {
    margin-top: -10px;
    font-size: 14px;
    color: #555;
}

.cart-item-price {
    font-size: 16px;
    color: #000;
}

.remove-from-cart {
    background: none;
    color: #f44336;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 70px;
}

.cart-total {
    display: flex;
}

.cart-total p {
    font-weight: bold;
    margin-right: 50px;
}

.cart-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.continue-shopping,
.pay {
    background-color: white;
    color: grey;
    padding: 10px 20px;
    border: grey 1px solid;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.continue-shopping:hover,
.pay:hover {
    background-color: #050505;
}

/* Diseño tablet (834px) */
@media (max-width: 834px) {
    .navbar-cart {
        display: flex !important;
    }

    .cart-item-count {
        display: inline-block;
        font-size: 14px;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        margin-left: 5px;
    }

    .details-container {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    .phone-image {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .details-info {
        width: 70%;
    }

    .phones-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Diseño handy (393px) */
@media (max-width: 393px) {
    .cart-actions {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .cart-total {
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .cart-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }

    .continue-shopping,
    .pay {
        flex: 1;
        padding: 10px;
        text-align: center;
    }
}
